<h1 class="text-2xl mb-[20px] font-semibold">Service</h1>
<app-create-service></app-create-service>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-12 w-full">
  <div class="bg-white  rounded-lg overflow-hidden shadow relative">
    <img class="w-full h-[180px] object-cover object-top mb-[18px]"
      src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/Z99lHyNvgg8ngjm4NU7lEptMkCfGaVDOqLC9T4KV.jpg"
      alt="Foto">
    <div class="p-2">
      <div class="flex items-center mb-2">
        <span class="star active">&#9733;</span>
        <span class="star">&#9734;</span>
        <span class="star">&#9734;</span>
        <span class="star">&#9734;</span>
        <span class="star">&#9734;</span>
        <span class="text-gray-600 ml-2 text-[12px] font-[400]">4.0 (120 reviews)</span>
      </div>
      <p class=" text-sm mb-2 text-[20px] font-[500] text-[#33363F]">Accupuncture</p>
    </div>

    <div (click)="openDropdown(dropdown,$event)" class="absolute bottom-2 right-2">
      <div class="bg-[#33363F] w-6 h-6 rounded-full text-white text-center leading-6 cursor-pointer">
        <span>&#8942;</span>
      </div>
    </div>
  </div>
  <div class="bg-white  rounded-lg overflow-hidden shadow relative">
    <img class="w-full h-[180px] object-cover object-top mb-[18px]"
      src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/Z99lHyNvgg8ngjm4NU7lEptMkCfGaVDOqLC9T4KV.jpg"
      alt="Foto">
    <div class="p-2">
      <div class="flex items-center mb-2">
        <span class="star active">&#9733;</span>
        <span class="star">&#9734;</span>
        <span class="star">&#9734;</span>
        <span class="star">&#9734;</span>
        <span class="star">&#9734;</span>
        <span class="text-gray-600 ml-2 text-[12px] font-[400]">4.0 (120 reviews)</span>
      </div>
      <p class=" text-sm mb-2 text-[20px] font-[500] text-[#33363F]">Accupuncture</p>
    </div>

    <div (click)="openDropdown(dropdown,$event)" class="absolute bottom-2 right-2">
      <div class="bg-[#33363F] w-6 h-6 rounded-full text-white text-center leading-6 cursor-pointer">
        <span>&#8942;</span>
      </div>
    </div>
  </div>
</div>
<div class=" bg-white absolute  mt-2 w-48 rounded-md shadow-lg" [style.top]="top" [style.left]="left"
  *ngIf="dropdownOpen">
  <div aria-labelledby="serviceDropdownArea">
    <!-- <a class="block px-4 py-2 text-sm hover:rounded-md cursor-pointer text-gray-700 hover:bg-gray-100">Detail</a> -->
    <app-edit-service></app-edit-service>
    <a class="block px-4 py-2 text-sm hover:rounded-md cursor-pointer text-gray-700 hover:bg-gray-100">Delete</a>
  </div>
</div>
