<app-secondary-header></app-secondary-header>
<div class="container mx-auto py-20">
  <div class="title text-5xl text-center font-bold capitalize mb-5">Ini adalah judul dari event</div>
  <div class="font-medium text-lg text-center">
    March 16, 2023 | Event
  </div>
  <div class="mt-10">
    <img class="w-full h-[500px] object-cover object-top mb-[18px]"
      src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/Z99lHyNvgg8ngjm4NU7lEptMkCfGaVDOqLC9T4KV.jpg"
      alt="Foto">
  </div>
  <div class="flex justify-center items-center">
    <div class="w-2/3">
      <div class="h-[1px] bg-gray-300 w-full mt-10 mb-14"></div>
      <div class="text-base text-gray-600 font-light leading-9">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repellendus dicta neque incidunt, assumenda
        repudiandae recusandae enim amet voluptatibus a hic nisi debitis quas exercitationem fuga cumque laborum fugit
        ipsum.
        Sit sequi cumque voluptate, labore ducimus cupiditate harum, voluptas dolore molestiae fuga ea amet obcaecati,
        accusantium recusandae a nostrum mollitia illum. Dolores ea optio dolore maiores doloribus porro! Quisquam,
        unde!
        Neque, ullam unde culpa eum sint quas inventore officiis voluptatibus optio. Aspernatur, minima aperiam vitae,
        rerum, deleniti obcaecati modi similique labore atque explicabo perferendis quaerat! Amet officiis aut accusamus
        consectetur.
        Dicta vitae, a unde assumenda voluptates eos et dolorem, fugiat temporibus molestiae tempora odit labore at
        expedita
        veniam voluptatum minima explicabo necessitatibus possimus nisi aliquam saepe cumque. Reprehenderit, nesciunt
        beatae!
        Inventore illum omnis, tempora molestiae optio totam dolorem temporibus culpa, maiores ullam nemo. Labore
        delectus
        ducimus assumenda. Dicta, adipisci nihil. Natus aut id officiis doloremque tempore enim ab pariatur suscipit.
        Dolorum harum cum perspiciatis nostrum ducimus earum a velit fuga officia qui? Necessitatibus magnam nobis
        officiis
        fugit. Accusantium, voluptates, vitae autem fuga, esse iusto dolores nihil recusandae harum laborum praesentium.
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
