  <div class="mt-8 flex">
    <div class="w-1/4">
      <div class="px-4 pt-4 rounded-t-lg">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-lg font-bold">Filter</h2>
          <div class="flex space-x-2">
            <button class="flex items-center px-2 py-1 rounded-lg text-[#9133AE]">
              <span class="me-2">Clear all</span>
            </button>
          </div>
        </div>
        <div class="border-t border-l border-r border-gray-300 rounded-t-lg p-4">
          <div class="flex items-center justify-between mb-2">
            <h3 class="text-lg font-bold">Service</h3>
            <button>
              <i class="fas fa-search text-[#9133AE] mr-2 text-[16px] me-[16px]"></i>
            </button>

          </div>
          <!-- <div class="text-base flex items-center relative border-2 rounded-md mb-2 border-gray-300 p-2">
            <i class="fas fa-search text-gray-500 mr-2 text-lg"></i>
            <input type="text"
              class="relative w-full bg-transparent focus:outline-none text-gray-700 placeholder-gray-500"
              placeholder="Search for anything">
            <button
              class="absolute top-0 right-0 h-full flex items-center justify-center px-2 text-gray-500 hover:text-gray-700 focus:outline-none">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
          </div> -->
          <div class="flex justify-end space-x-2">
            <button class="flex items-center px-2 py-1 rounded-lg text-[#F54867]">
              <span class="me-2">Clear</span>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="16" height="16" rx="4" fill="#F54867" />
                <path
                  d="M10.7649 9.63056L9.13435 8.0008L10.764 6.37104C11.0774 6.05847 11.0774 5.54975 10.764 5.23718C10.4505 4.92186 9.94367 4.92277 9.63021 5.23626L7.99966 6.86602L6.3691 5.23443C6.05564 4.92094 5.54787 4.92277 5.23441 5.23443C4.92186 5.54791 4.92186 6.05664 5.23441 6.36921L6.86588 8.0008L5.23808 9.62781C4.92461 9.9413 4.92461 10.45 5.23808 10.7617C5.39481 10.9193 5.5992 10.9973 5.80451 10.9973C6.01073 10.9973 6.21512 10.9193 6.37185 10.7626L7.99966 9.13467L9.63112 10.7653C9.78786 10.9221 9.99225 11 10.1976 11C10.4029 11 10.6082 10.9212 10.7649 10.7653C11.0784 10.4519 11.0784 9.94405 10.7649 9.63056Z"
                  fill="white" />
              </svg>

            </button>
          </div>
          <div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="satu" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="satu" class="text-[14px] font-[400] text-[#33363F]">
                Body Therapy
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="dua" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="dua" class="text-[14px] font-[400] text-[#33363F]">
                Metaphysical
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="tiga" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="tiga" class="text-[14px] font-[400] text-[#33363F]">
                Reading
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="empat" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="empat" class="text-[14px] font-[400] text-[#33363F]">
                Fitness
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4">
        <div class="border-t border-l border-r border-gray-300 p-4">
          <div class="flex items-center justify-between mb-2">
            <h3 class="text-lg font-bold">City</h3>
            <button>
              <i class="fas fa-search text-[#9133AE] mr-2 text-[16px] me-[16px]"></i>
            </button>

          </div>
          <!-- <div class="text-base flex items-center relative border-2 rounded-md mb-2 border-gray-300 p-2">
            <i class="fas fa-search text-gray-500 mr-2 text-lg"></i>
            <input type="text"
              class="relative w-full bg-transparent focus:outline-none text-gray-700 placeholder-gray-500"
              placeholder="Search for anything">
            <button
              class="absolute top-0 right-0 h-full flex items-center justify-center px-2 text-gray-500 hover:text-gray-700 focus:outline-none">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
          </div> -->
          <div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="satu" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="satu" class="text-[14px] font-[400] text-[#33363F]">
                Body Therapy
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="dua" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="dua" class="text-[14px] font-[400] text-[#33363F]">
                Metaphysical
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="tiga" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="tiga" class="text-[14px] font-[400] text-[#33363F]">
                Reading
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="empat" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="empat" class="text-[14px] font-[400] text-[#33363F]">
                Fitness
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4">
        <div class="border border-gray-300 p-4 rounded-b-lg">
          <div class="flex items-center justify-between mb-2">
            <h3 class="text-lg font-bold">Ratings</h3>
            <button>
              <i class="fas fa-search text-[#9133AE] mr-2 text-[16px] me-[16px]"></i>
            </button>

          </div>
          <!-- <div class="text-base flex items-center relative border-2 rounded-md mb-2 border-gray-300 p-2">
            <i class="fas fa-search text-gray-500 mr-2 text-lg"></i>
            <input type="text"
              class="relative w-full bg-transparent focus:outline-none text-gray-700 placeholder-gray-500"
              placeholder="Search for anything">
            <button
              class="absolute top-0 right-0 h-full flex items-center justify-center px-2 text-gray-500 hover:text-gray-700 focus:outline-none">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
          </div> -->
          <div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="empat" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="satu" class="custom-rating">
                <span class="star active">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="empat" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="dua" class="custom-rating">
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="empat" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="tiga" class="custom-rating">
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="empat" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="empat" class="custom-rating">
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star">&#9734;</span>
              </label>
            </div>
            <div class="flex items-center">
              <label class="custom-checkbox me-2">
                <input type="checkbox" id="empat" class="form-checkbox" />
                <span class="checkbox-label"></span>
              </label>
              <label for="lima" class="custom-rating">
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
                <span class="star active">&#9733;</span>
              </label>
            </div>
          </div>



        </div>
      </div>
    </div>
    <div class="w-3/4 ml-8">
      <div class="grid grid-cols-3 gap-12">
        <div class="bg-white rounded-lg overflow-hidden">
          <img class="w-full h-[180px] object-cover object-top mb-[18px]"
            src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/stuC46L2lAxr7W1Vt09s69rktTZjkxrtyEgcH3mY.jpg"
            alt="Gambar Produk">
          <div class="py-2">
            <div class="flex justify-between">
              <div class="text-[#33363F] font-[500] text-lg text-[20px]">Herbal</div>
              <div>
                <p class="text-[#9133AE] text-[14px]">Rp 100.000</p>
              </div>
            </div>
            <p class="text-[#86747A] text-[12px] mt[8px]">Thomas Magnum | Jakarta</p>
            <button class="mt-[18px] w-full bg-transparent hover:bg-[#9133AE;] h-[48px] text-[#9133AE] font-semibold
                hover:text-white border border-[#9133AE] hover:border-transparent rounded">
              Contact us
            </button>
          </div>
        </div>
        <div class="bg-white rounded-lg overflow-hidden">
          <img class="w-full h-[180px] object-cover object-top mb-[18px]"
            src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/stuC46L2lAxr7W1Vt09s69rktTZjkxrtyEgcH3mY.jpg"
            alt="Gambar Produk">
          <div class="py-2">
            <div class="flex justify-between">
              <div class="text-[#33363F] font-[500] text-lg text-[20px]">Herbal</div>
              <div>
                <p class="text-[#9133AE] text-[14px]">Rp 100.000</p>
              </div>
            </div>
            <p class="text-[#86747A] text-[12px] mt[8px]">Thomas Magnum | Jakarta</p>
            <button class="mt-[18px] w-full bg-transparent hover:bg-[#9133AE;] h-[48px] text-[#9133AE] font-semibold
                hover:text-white border border-[#9133AE] hover:border-transparent rounded">
              Contact us
            </button>
          </div>
        </div>
        <div class="bg-white rounded-lg overflow-hidden">
          <img class="w-full h-[180px] object-cover object-top mb-[18px]"
            src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/stuC46L2lAxr7W1Vt09s69rktTZjkxrtyEgcH3mY.jpg"
            alt="Gambar Produk">
          <div class="py-2">
            <div class="flex justify-between">
              <div class="text-[#33363F] font-[500] text-lg text-[20px]">Herbal</div>
              <div>
                <p class="text-[#9133AE] text-[14px]">Rp 100.000</p>
              </div>
            </div>
            <p class="text-[#86747A] text-[12px] mt[8px]">Thomas Magnum | Jakarta</p>
            <button class="mt-[18px] w-full bg-transparent hover:bg-[#9133AE;] h-[48px] text-[#9133AE] font-semibold
                hover:text-white border border-[#9133AE] hover:border-transparent rounded">
              Contact us
            </button>
          </div>
        </div>
        <div class="bg-white rounded-lg overflow-hidden">
          <img class="w-full h-[180px] object-cover object-top mb-[18px]"
            src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/stuC46L2lAxr7W1Vt09s69rktTZjkxrtyEgcH3mY.jpg"
            alt="Gambar Produk">
          <div class="py-2">
            <div class="flex justify-between">
              <div class="text-[#33363F] font-[500] text-lg text-[20px]">Herbal</div>
              <div>
                <p class="text-[#9133AE] text-[14px]">Rp 100.000</p>
              </div>
            </div>
            <p class="text-[#86747A] text-[12px] mt[8px]">Thomas Magnum | Jakarta</p>
            <button class="mt-[18px] w-full bg-transparent hover:bg-[#9133AE;] h-[48px] text-[#9133AE] font-semibold
                hover:text-white border border-[#9133AE] hover:border-transparent rounded">
              Contact us
            </button>
          </div>
        </div>
      </div>
      <div class="flex justify-center mt-[72px]">
        <nav aria-label="Page navigation example">
          <ul class="flex items-center -space-x-px h-8 text-sm">
            <li>
              <a href="#"
                class="flex items-center justify-center px-2 h-8 ml-0 leading-tight text-[#86747A]  hover:text-[#9133AE] font-[500] text-lg">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-2 h-8 leading-tight text-[#86747A] bg-white hover:text-[#9133AE] font-[500] text-lg">1</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-2 h-8 leading-tight text-[#86747A] bg-white hover:text-[#9133AE] font-[500] text-lg">2</a>
            </li>
            <li>
              <a href="#" aria-current="page" class="flex items-center justify-center px-2 h-8 leading-tight text-[#86747A] bg-white
                hover:text-[#9133AE] font-[500] text-lg">3</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-2 h-8 leading-tight text-[#86747A] bg-white hover:text-[#9133AE] font-[500] text-lg">4</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-2 h-8 leading-tight text-[#86747A] bg-white hover:text-[#9133AE] font-[500] text-lg">5</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-2 h-8 leading-tight text-[#86747A] bg-white hover:text-[#9133AE] font-[500] text-lg">...</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-2 h-8 leading-tight text-[#86747A] bg-white hover:text-[#9133AE] font-[500] text-lg">11</a>
            </li>
            <li>
              <a href="#"
                class="flex items-center justify-center px-2 h-8 leading-tight text-[#86747A] bg-white rounded-r-lg hover:text-[#9133AE] font-[500] text-lg">
                <span class="sr-only">Next</span>
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="flex justify-center mt-2">
        <p class="text-base font-medium text-[#86747A]">1 - 100 (100+)</p>
      </div>
    </div>
  </div>
