<app-secondary-header></app-secondary-header>
<div class="container mx-auto pb-32 mt-5">
  <div class="flex items-center">
    <p>Bantul, Yogyakarta</p>
    <span class="mx-3">|</span>
    <div class="flex items-center">
      <span class="star active">&#9733;</span>
      <span class="star">&#9734;</span>
      <span class="star">&#9734;</span>
      <span class="star">&#9734;</span>
      <span class="star">&#9734;</span>
      <span class="text-gray-600 ml-2 text-[12px] font-[400]">4.0 (120 reviews)</span>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <img class="w-full h-[400px] object-cover object-top mb-[18px]"
        src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/Z99lHyNvgg8ngjm4NU7lEptMkCfGaVDOqLC9T4KV.jpg"
        alt="Foto">
    </div>
    <div>
      <h1 class="text-[40px] font-semibold">Accupuncture</h1>
      <div class="flex items-center">
        <img class="h-[100px] w-[100px] rounded-full"
          src="https://storage.googleapis.com/nstekapps-tokomobile.appspot.com/thumb-image/Z99lHyNvgg8ngjm4NU7lEptMkCfGaVDOqLC9T4KV.jpg"
          alt="">
        <p class="ms-3 font-light">Brett Lither</p>
      </div>
      <div>
        <div class="grid grid-cols-2 gap-2 mt-5">
          <input type="date" id="first_name"
            class="bg-gray-50 border h-[60px] border-gray-300 text-gray-900 text-sm rounded-sm block w-full p-2.5  focus:border-none"
            placeholder="John" required>
          <select name="" id="" class="bg-gray-50 border h-[60px] border-gray-300 text-gray-900 text-sm rounded-sm block w-full p-2.5
            focus:border-none">
            <option value="">8:00 - 12:00</option>
            <option value="">13:00 - 17:00</option>
          </select>
        </div>
        <div
          class="h-[60px] bg-gray-50 border-gray-300 flex justify-center items-center mt-2 border text-lg text-gray-600">
          Rp80.000
        </div>
      </div>
      <button class="h-[60px] w-full bg-[#9133AE] text-white mt-3">BOOK</button>
    </div>
  </div>
  <div class="w-full h-[1px] bg-gray-300 my-10"></div>
  <div>
    <h1 class="text-3xl font-semibold">About the class</h1>
    <p class="my-3 font-medium">Description</p>
    <div class="w-1/2 text-sm leading-6 text-gray-500">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde totam distinctio quisquam rem laudantium tenetur
        ab accusamus neque iste sed consequuntur id, vel assumenda amet doloribus autem molestias quibusdam! Tempora!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde totam distinctio quisquam rem laudantium tenetur
        ab accusamus neque iste sed consequuntur id, vel assumenda amet doloribus autem molestias quibusdam! Tempora!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde totam distinctio quisquam rem laudantium tenetur
        ab accusamus neque iste sed consequuntur id, vel assumenda amet doloribus autem molestias quibusdam! Tempora!
      </p>
    </div>
  </div>
  <div class="w-full h-[1px] bg-gray-300 my-10"></div>
  <div>
    <h1 class="text-3xl font-semibold">Contact</h1>
    <div class="w-1/2 text-sm leading-6 text-gray-500 mt-4">
      <p class="text-lg">
        <i class="fa-solid fa-phone"></i>
        083323452345
      </p>
      <p class="text-lg">Depok, Sleman, Yogyakarta</p>
    </div>
  </div>
  <div class="w-full h-[1px] bg-gray-300 my-10"></div>
  <div>
    <h1 class="text-3xl font-semibold">Customer reviews</h1>
    <div class="w-1/2 text-sm leading-6 text-gray-500 mt-4">
      <div class="grid grid-cols-2">
        <div>
          <div class="flex items-center">
            <span class="star active">&#9733;</span>
            <span class="star">&#9734;</span>
            <span class="star">&#9734;</span>
            <span class="star">&#9734;</span>
            <span class="star">&#9734;</span>
            <span class="text-gray-600 ml-2 text-[12px] font-[400]">4.0 (120 reviews)</span>
          </div>
          <div class="flex items-center mb-1">
            <span class="text-xs whitespace-nowrap block w-[60px]">
              5 Stars
            </span>
            <div class="w-full bg-gray-200 rounded-sm h-2.5 ">
              <div class="bg-[#E85815] h-2.5 rounded-sm" style="width: 45%"></div>
            </div>
            <span class="text-xs whitespace-nowrap block ms-2">50%</span>
          </div>
          <div class="flex items-center mb-1">
            <span class="text-xs whitespace-nowrap block w-[60px]">
              4 Stars
            </span>
            <div class="w-full bg-gray-200 rounded-sm h-2.5 ">
              <div class="bg-[#E85815] h-2.5 rounded-sm" style="width: 65%"></div>
            </div>
            <span class="text-xs whitespace-nowrap block ms-2">50%</span>
          </div>
          <div class="flex items-center mb-1">
            <span class="text-xs whitespace-nowrap block w-[60px]">
              3 Stars
            </span>
            <div class="w-full bg-gray-200 rounded-sm h-2.5 ">
              <div class="bg-[#E85815] h-2.5 rounded-sm" style="width: 35%"></div>
            </div>
            <span class="text-xs whitespace-nowrap block ms-2">50%</span>
          </div>
          <div class="flex items-center mb-1">
            <span class="text-xs whitespace-nowrap block w-[60px]">
              2 Stars
            </span>
            <div class="w-full bg-gray-200 rounded-sm h-2.5 ">
              <div class="bg-[#E85815] h-2.5 rounded-sm" style="width: 15%"></div>
            </div>
            <span class="text-xs whitespace-nowrap block ms-2">50%</span>
          </div>
          <div class="flex items-center mb-1">
            <span class="text-xs whitespace-nowrap block w-[60px]">
              1 Stars
            </span>
            <div class="w-full bg-gray-200 rounded-sm h-2.5 ">
              <div class="bg-[#E85815] h-2.5 rounded-sm" style="width: 0%"></div>
            </div>
            <span class="text-xs whitespace-nowrap block ms-2">50%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
