<app-header></app-header>
<div class="container mx-auto mb-10">
  <h1 class="text-2xl mb-[20px] font-semibold text-center">CONTACT US</h1>
  <div class="flex justify-center">
    <div class="w-full md:w-1/2">
      <div class="grid grid-cols-1 gap-2">
        <div class="mb-1">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
          <input type="text" id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@flowbite.com" required>
        </div>
        <div class="mb-1">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
          <input type="text" id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@flowbite.com" required>
        </div>
        <div class="mb-1">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subject</label>
          <input type="text" id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@flowbite.com" required>
        </div>
        <div class="mb-1">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
          <textarea id="message" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Write your thoughts here..."></textarea>
        </div>
      </div>
      <div class="flex justify-end mt-5">
        <button class="bg-[#9133AE] px-5 py-2 text-[14px] rounded-md text-white">Submit</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
