<app-secondary-header></app-secondary-header>
<div class="container mx-auto mb-10">
  <h1 class="text-2xl mb-[20px] font-semibold text-center">ABOUT US</h1>
  <div class="flex justify-center">
    <div class="w-full md:w-2/3">
      <div class="grid grid-cols-1 gap-2">
        <div class="mb-4">
          <p class="font-semibold">Who we are?</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore natus reprehenderit incidunt eius fuga,
            ipsum odit sed harum nostrum perspiciatis fugit quis minima aliquid soluta adipisci debitis aspernatur
            dolore expedita!</p>
        </div>
        <div class="mb-4">
          <p class="font-semibold">Lainya ....</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore natus reprehenderit incidunt eius fuga,
            ipsum odit sed harum nostrum perspiciatis fugit quis minima aliquid soluta adipisci debitis aspernatur
            dolore expedita!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
