<app-secondary-header></app-secondary-header>
<div class="container mx-auto mb-10">
  <div class="flex justify-center">
    <div class="w-full md:w-2/3">
      <img class="w-72 mb-5" src="../../../assets/logo.png" alt="">
      <p>HolisticStations.com</p>
      <p>Platform Penyalur Jasa Praktisi Holistic, Wellness, dan Supranatural</p>
      <h1 class="text-2xl mb-[20px] font-semibold text-center mt-10">Halaman Donasi</h1>
      <div class="grid grid-cols-1 gap-2">
        <div class="mb-4">
          <p class="mb-3">Kepada para pengguna setia Holistic Stations,</p>
          <p class="mb-3">Terima kasih atas dukungan dan kepercayaan Anda dalam menggunakan platform kami untuk
            menemukan praktisi holistic, wellness, dan supranatural yang tepat. Sejak didirikan, Holistic Stations
            berkomitmen untuk menyediakan akses yang mudah dan aman bagi individu yang mencari layanan jasa di bidang
            kesehatan holistik dan spiritual.</p>
          <p class="mb-3">Anda dapat berkontribusi dalam mendukung misi kami untuk memajukan platform ini dan memperluas
            jangkauan pelayanan kami kepada lebih banyak orang. Donasi Anda akan digunakan untuk pengembangan teknologi,
            perbaikan situs, dan promosi sehingga kami dapat terus memberikan layanan berkualitas tinggi kepada
            komunitas kami.</p>
          <p class="mb-3">Jika Anda ingin berdonasi, silakan kirimkan sumbangan Anda ke rekening berikut:</p>
          <p>Bank: [Nama Bank Anda]</p>
          <p>Nomor Rekening: [Nomor Rekening Anda]</p>
          <p>Atas Nama: [Nama Anda]</p>
          <p class="mb-3 mt-3">Mohon untuk mencantumkan "Donasi Holistic Stations" pada catatan transfer Anda agar kami
            dapat
            mengenali donasi Anda dengan mudah.</p>
          <p class="mb-3">Setiap sumbangan yang Anda berikan akan sangat berarti bagi kami. Kami menghargai setiap
            kontribusi, baik besar maupun kecil. Bersama-sama, kita dapat menciptakan perubahan positif dalam dunia
            kesehatan holistik dan spiritual.</p>
          <p class="mb-3">Terima kasih sekali lagi atas dukungan Anda. Semoga setiap perbuatan baik yang Anda lakukan
            akan mendatangkan berkah dan kesejahteraan bagi Anda.</p>
          <p class="mb-3">Hormat kami,</p>
          <p class="mb-3">[Tim Holistic Stations]</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
